body{
    font-family: Arial;
    line-height: 22px;
}
button{
    cursor: pointer;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}
.login-button{
    width: 50px;
    margin-right: 15px;
    padding: 5px;
    color: orange;
    background-color: white;
    border: none;
    font-size: 16px;
    font-family: Arial;
}
.intro-text-paragraph{
    width: 800px;
}
.dept-paragraph{
    flex: 1;
    font-size 20px;
}
.home-div{
   padding-top: 0px;
   display: flex;
   flex-direction: row;
}
.right-div{
    flex: 1;
    border-right: solid;
    border-top: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-radius: 10px;
    border-right-color: gray;
    border-top-color: gray;
    border-opacity: 0.5;
}
.left-div{
    margin-top: 50px;
}
.discuss-heading{
    color: black;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
}
